.page-wrapper {
    width: 100%;
}

.hero-wrapper1 {
    display:flex;
    flex-direction: row;
    padding-top: 50px;
}

.hero-image img {
    width: 300px;
    height: 300px;
}

.hero-details {
    padding-left: 30px;
    padding-top: 50px;
    line-height: 30px;
    font-size: large;
}

.page-wrapper h2 {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0px;
}

.hero-badges {
    display: flex;
    flex-direction: row;
}