
/* Events, Hosts, Heroes Pages */
  .page-wrapper {
    width: 100%;
  }

  .page-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 2%;
  }
  .page-title {
      
  }

  .page-button {
      width: 120%;
      border-radius: 5%;
  }

  .page-main {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-left: 9%;
  }
