
.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: -3%;
    margin-top: 1%;
    justify-content: space-between;
}

.form-deco img {
    width: 1000px;
    position: sticky;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header h2 {
    text-align: center;
    font-size: xx-large;
}

.form-header p {
    text-align: center;
    width: 70%;
    font-size: 22px;
}

.form-inputs {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15%;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5%;
}

.form-input label {
    font-size: 20px;
}

.form-input input {
    width: 70%;
    font-size: 20px;
    line-height: 200%;
}

.form-input p {
    font-size: 20px;
}

.form-input-radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 3%;
}

.form-input-radio p {
    font-size: 20px;
    width: 50%;
}

#input-radio-1 {
    width: 10%;
    padding-left: 2%;
    font-size: 20px;
}

.form-input-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5%;
    margin-top: 2%;
}

.form-input-dropdown label {
    font-size: 20px;
    width: 50%;
    margin-bottom: 1%;
}

.form-input-dropdown select {
    font-size: 20px;
    width: 70%;
    height: 45px;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.button-area button {
    width: 20%;
    font-size: 20px;
}